body { font-family: arial; font-size:12px; background:url("/images/tile.png") repeat left top;margin: 0}
ul, p, h1, h2, h3, h4 { margin:0; padding:0; list-style:none;}
h1 {font-family:arial; font-size:36px; color:#355f7a; text-align:center;}
img {border:none;}

.left { float:left;}

.clr { clear:both;} 
.page-margin { width:1130px; margin:0 auto;}

#top-bg{
    position: absolute;
    background:url("/images/image_bg.jpg");
    width: 1130px;
    height: 420px;
    z-index: -1;
    display: none;
}

.header-logo{
    height: 140px;
    width: 240px;
    background: #FFFFFF;
}

.header-logo img {
    padding: 15px 0 0 5px;
}

.social-connect{
    padding: 46px 10px 0 0;
}

.right {
    float: right;
}

.left-content{
    width: 240px;
    float: left;
}

.nav-bar {}
.nav-bar ul { background:#a5986f;width :240px;}
.nav-bar li{ height: 40px;}
.nav-bar li div{ padding: 13px 0 0 15px;}
.nav-bar a { color:white; text-decoration:none; text-transform:uppercase; font-size:12px;font-weight:bold;}
.nav-bar a:hover { text-decoration:underline}
.nav-bar li.current{background:#2d78d3}

.footer {}
.foot-nav { margin-top:20px;}
.foot-nav ul {width:1130px; }
.foot-nav li{ float:left; padding-top:10px; color:#666;}
.foot-nav .user-link { float:right; margin: 10px 10px 0 20px; font-size: 12px;}

.foot-nav a { color:#b1c8e3; text-decoration:none; font-weight: bold; font-size:14px; padding:7px 10px 7px 10px;}
.foot-nav li.user-link a{
    color: #FFFFFF;
    font-size: 16px;
}

.foot-nav a:hover { text-decoration:underline}
.foot-nav li.current a{ }

.language-bar{
    background: #25a59b;
    height: 40px;
}

.language-bar a { padding: 0 2px 0 2px; color: #FFF;text-decoration: none;}
.language-bar a:hover { padding: 0 2px 0 2px; text-decoration: underline;font-weight:bold}

.language-bar ul {
    list-style: none outside none;
    margin: 0 0 0 auto;
    font-size: 12px;
    padding: 13px 0 0 15px;
}

.language-bar li {
    border-right: 1px dotted #FFF;
    float: left;
    margin: 0 0.3em;
    padding: 0 0.7em 0 0.2em;
    text-align: center;
}

.language-bar li.last {
    border: medium none;
    margin-right: 0;
    padding-right: 0;
}

#container-language div
{	
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #FAFDFF;
	border: 1px solid #C1CCD3;
	z-index: 1000;
}

#container-language div a
{	
	position: relative;
	display: block;
	margin: 0;
	padding: 5px 10px;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: #FAFDFF;
	color: #37627D;
}

#container-language div a:hover
{	
	background: #D8E1F1;
	color: #37627D;
	font-weight:bold;
}

.banner-image {    
    width: 890px;
    height: 400px;
    position: relative;
}

.index-banner{
    background:url("/images/banner/banner_1.jpg");
}

.about-banner{
    background:url("/images/banner/banner_2.jpg");
}

.staff-banner{
    background:url("/images/banner/banner_3.jpg");
}

.location-banner{
    background:url("/images/banner/banner_4.jpg");
}

.faq-banner{
    background:url("/images/banner/banner_5.jpg");
}

.insurance-banner{
    background:url("/images/banner/banner_6.jpg");
}

.contact-banner{
    background:url("/images/banner/banner_11.jpg");
}

.news-banner{
    background:url("/images/banner/banner_7.jpg");
}

.links-banner{
    background:url("/images/banner/banner_8.jpg");
}

.forms-banner{
    background:url("/images/banner/banner_9.jpg");
}

.newsletters-banner{
    background:url("/images/banner/banner_10.jpg");
}

.banner-image .banne-slogan{
    position : absolute;
    bottom : 0;
    background: #000;
    color: #FFF;
    font-weight: bold;
    font-size: 35px;
    width: 890px;
    height: 60px;
    /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE 5-7 */
  filter: alpha(opacity=40);
  /* Netscape */
  -moz-opacity: 0.4;
  /* Safari 1.x */
  -khtml-opacity: 0.4;
  /* Good browsers */
  opacity: 0.4;
}

.banner-image .banne-slogan div {
    padding: 10px 0 0 15px;
    /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  /* IE 5-7 */
  filter: alpha(opacity=100);
  /* Netscape */
  -moz-opacity: 1;
  /* Safari 1.x */
  -khtml-opacity: 1;
  /* Good browsers */
  opacity: 1;    
}

.sprite { background: url('/images/sprite.png') no-repeat top left;  } 
.sprite.icon_add { background-position: 0px 0px; width: 25px; height: 25px; padding-right: 5px; } 
.sprite.icon_back { background-position: 0px -30px; width: 17px; height: 23px;  } 
.sprite.icon_fax { background-position: 0px -58px; width: 25px; height: 25px; padding-right: 5px; } 
.sprite.icon_fb { background-position: 0px -88px; width: 45px; height: 45px;  } 
.sprite.icon_mail { background-position: 0px -138px; width: 25px; height: 25px; padding-right: 5px; } 
.sprite.icon_next { background-position: 0px -168px; width: 17px; height: 23px;  } 
.sprite.icon_patient_page { background-position: 0px -196px; width: 14px; height: 12px;  } 
.sprite.icon_phone { background-position: 0px -213px; width: 25px; height: 25px; padding-right: 5px; } 
.sprite.icon_twitter { background-position: 0px -243px; width: 45px; height: 45px;  } 
.sprite.sepe_line { background-position: 0px -293px; width: 285px; height: 1px;  } 
.sprite.testi_1 { background-position: 0px -299px; width: 80px; height: 80px;  } 
.sprite.testi_2 { background-position: 0px -384px; width: 80px; height: 80px;  } 
.sprite.typo_1 { background-position: 0px -469px; width: 236px; height: 112px;  }

.address-block{
    margin: 20px 10px 0 0;
}

.address-block .phone{
    padding-top:  10px;
    font-size: 15px;
}

.address-block .fax{
    padding-top:  10px;
    font-size: 15px;    
}
.address-block .fax div{
    padding-top: 3px;
}

.address-block .email{
    padding-top:  10px;    
}

.address-block .email div{
    padding-top:  5px;    
}

.working-hour{
    margin: 20px 10px 0 0;
    background: #abc9ed;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
}

.working-hour li{
    padding: 5px;
}

.working-hour .header{
    background: #2d78d3;
    text-align: center;
    font-size: 18px;
    text-transform:uppercase;
}

.working-hour .blue{
    background: #81aee5;
}

.working-hour li div{
    float: left;
    width: 125px;
}

.working-hour li div .tip{
    font-size: 11px;
    font-weight: normal;
}

.right-content{
    float: left;
}
.page-content{
    width: 587px;
    background: #81aee5;
    color: #FFFFFF;
    float: left;
}

.page-title{
    padding: 20px 0 0 20px;
}

.page-title .sub{
    font-size: 30px;
}

.page-title .main{
    font-size: 60px;
    margin-top: -20px;
    font-family: Verdana;
}

.detail-content{
    padding: 15px;
}

.detail-content-location{
    padding: 8px 0 50px;
}

.detail-content-contact{
    padding: 8px 0 50px;
}

.detail-content-contact div{
    background: #6B6998;
    padding : 10px 20px 10px;
    font-weight: bold;
}

.detail-content-contact div strong{
    color: #E6E65E;
}

.detail-content-contact div a{
    color: #FFF;
    text-decoration:none; 
}

.page-content-right {
    float: right;
    width: 290px;
}

.testimonials-container .title {
    padding: 20px 0 10px 15px;
    font-weight: bold;
    font-size: 18px;
    color: #2d78d3;
}

.testo-detail .testo-logo{
    float: left;
}

.testo-detail .testo-content{
    padding-left: 90px;
}

.testo-detail .testo-content .testo-name{
    font-weight: bold;
    font-size: 14px;
}

.testo-detail .testo-content .testo-text{
    font-style: italic;
    padding: 5px 0;
}

.testo-break-line{
    margin: 10px 10px;
    border-bottom: 1px dotted #000;
}

.testo-more{
    padding: 5px 0 0 90px;
    font-weight: bold;
    font-size: 18px;
}

#testo_more_next{
 cursor: pointer;
 margin-right: 20px;   
}

#testo_more_back{
 cursor: pointer;
 margin-right: 10px   
}

.core-value-box{
    padding: 30px 0 0 0;
}

.copyright-block {
    padding: 20px 0 15px;
    text-align: center;
    color:#b1c8e3; 
    font-weight: bold;
    font-size:14px;
}

.facebook-plugin-block{
    margin: 15px 0 0 0;
    float: right;
    background: #FFF;
}

.facebook-plugin-block .title{
    padding:  5px 0;
    background: #2d78d3;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #FFF;
}

.staff-detail{
    
}

.purple-bg {
    background: #6B6998;
}
.staff-photo {
    float: left;
    padding: 10px 20px 10px 15px;
}

.staff-photo img {
    border: 5px solid #B3CEEF;
}

.purple-bg .staff-photo img {
    border: 5px solid #A4A2C6;
}

.staff-info{
    padding:  30px 20px 10px;
}

.staff-info div{
    padding: 15px 0 0 0;
    font-size: 14px;
    
}

.faq-detail{
    padding: 18px 15px;
}

.faq-detail .question{
    font-weight: bold;
}

.faq-detail .answer{
    padding-top: 10px;
}

.news-detail{
    padding: 18px 15px;
}

.news-detail a{
    color: #FFF;
    text-decoration:none;    
}

.news-detail div{    
    font-style: italic;
    text-align: right;
}

.links-detail{
    padding: 18px 15px;
}

.links-detail a{
    color: #E6E65E;
    text-decoration:none;    
    font-weight: bold;
}

.admin-menu-container .title {
    padding: 20px 0 0 15px;
    font-weight: bold;
    font-size: 18px;
    color: #2d78d3;
}
.admin-menu-container li{ padding-top:10px; color:#666;}
.admin-menu-container a { color:#355F7A; font-weight: bold; font-size:12px; padding:7px 10px 7px 10px;}

.admin-container{
    width: 890px;
}

.list_results table, .list_results td, .list_results th
{
    border-color: #BDC7D8;
    border-style: solid;
}

.list_results table
{
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-collapse: collapse;
}

.list_results td
{
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 0;
}

.list_results th
{
    margin: 0;
    padding: 4px;
    border-width: 1px 1px 0 0;
    font-weight : bold;
    color: #355F7A;
}

.list_results a:link, .list_results a:visited, .list_results a:active {
    color: #666666;
    text-decoration: none;
}

.list_results a:hover {
    color: #666666;
    text-decoration: underline;
}

.detail-content-forms{
    padding: 8px 0 0px;
}

.detail-content-forms div{
    background: #6B6998;
    padding : 15px 20px 0;
}

.detail-content-newsletter{
    padding: 15px 0 0px;
    background: #6B6998;
}

.newslettlers_wrapper {
    width: 206px;float: left;padding: 0px 17px 15px 50px;
}


.wrapper_right{
    padding-right: 0px !important;
}

.newslettlers_wrapper .container{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    background: #fff;
    
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.newslettlers_wrapper .container a {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.newslettlers_wrapper .container .meta{
    border-top: 1px solid #e7e7e7;
    text-align: center;
    font-weight: bold;
    color: #37627d;
    padding: 6px 5px 7px;
}